{% extends 'components/base.twig' %}
{% block content %}
    {% if data is defined %}
        <h1>Bienvenido {{data.name|title}}</h1>
    {% else %}
        <h1>Bienvenido</h1>
    {% endif %}
{% endblock %}